{% extends "base.html" %}

{% block title %}Not Implemented - MovieWeb App{% endblock %}

{% block content %}
<div class="row justify-content-center">
    <div class="col-md-6 text-center">
        <h1 class="display-1">501</h1>
        <h2 class="mb-4">Not Implemented</h2>
        <p class="lead">The server does not support the functionality required to fulfill the request.</p>
        <a href="{{ url_for('main.home') }}" class="btn btn-primary">Return to Home</a>
    </div>
</div>
{% endblock %} 