{% extends "base.html" %}

{% block title %}Home - MovieWeb App{% endblock %}

{% block content %}
<div class="jumbotron">
    <h1 class="display-4">Welcome to MovieWeb App</h1>
    <p class="lead">Manage your favorite movies and share them with others!</p>
    <hr class="my-4">
    <p>Get started by viewing users or adding a new user to the system.</p>
    <div class="mt-4">
        <a href="{{ url_for('main.list_users') }}" class="btn btn-primary btn-lg">View Users</a>
        <a href="{{ url_for('main.add_user') }}" class="btn btn-success btn-lg ms-2">Add User</a>
    </div>
</div>
{% endblock %} 